*{
    padding: 0%;
    margin: 0%;
}
.container{
  max-width: 100%;
}
h1{
    font-family: 'Poppins', sans-serif;
  }
  
.btn-round {
    border-radius: 20px;
  }
  .title{
    display: flex;
  }
  h2{
    font-family: 'Poppins', sans-serif;
    
  }
  
.fb img{
    padding-left:1%;
}
.gallery-image {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-right: 6%;
    transition: transform 0.3s;
}
 
.img-box { 
    margin-bottom: 20px;
}
.img-box:hover{
    transform: scale(1.2);
}
.l-section{
    margin-top: 20px;
}
.txt-bx{    
    margin-top: 5%;
    width:80%;
    border-top-style:none;
    border-right-style: none;
    border-left-style: none;
}
