.container{
    max-width: 100%;
}

.l-section{
    margin-top: 20px;
}
.fb img{
    padding-left:1%;
}
.txt-bx{    
    margin-top: 5%;
    width:80%;
    border-top-style:none;
    border-right-style: none;
    border-left-style: none;
}