.container{
    max-width: 100%;
  }
.social {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-right: 6%;
    transition: transform 0.3s;
}

.social img {
    margin-bottom: 20px;
}

.social img:hover {
    transform: scale(1.2);
}

.media h1 {
    text-align: center;
}

.txt-bx {
    margin-top: 5%;
    width: 20cm;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.fb {
    margin-left: 1%;
    margin-top: 2%;
}

.fb img {
    padding-left: 1%;
}

.gallery-image {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-right: 6%;
    transition: transform 0.3s;
}
 
.img-box { 
    margin-bottom: 20px;
}
.img-box:hover{
    transform: scale(1.2);
}
.social{
    margin-left: 8%;
}